<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Josh Edgcomb</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename = 'css/coolblue.css')}}" />

    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.6.1.min.js"><\/script>')</script>

    <script src="js/scrollToTop.js"></script>

</head>

<body id="top">

<div id="wrapper">

<!--header -->
<div id="header-wrap"><header>

 	<hgroup>
        <h1><a href="/b">Josh Edgcomb</a></h1>
        <h3>Aspiring Software Engineer</h3>
    </hgroup>

    <nav>
		<ul>
			<li id='current'><a href="/">Home</a><span></span></li>
			<li><a href="https://www.github.com/joshedgcomb" target="blank">Github</a><span></span></li>
			<li><a href="/blog">Blog</a><span></span></li>
		</ul>
	</nav>


<!--/header-->
</header></div>
	
<!-- content-wrap -->
<div id="content-wrap">

    <!-- content -->
    <div id="content" class="clearfix">

   	    <!-- main -->
        <div id="main">
            <img src="{{url_for('static', filename='images/josh.png')}}">
            Hi, I'm Josh. I am a student at Pomona College in Claremont, California, where I study Computer Science. In addition to software development, I love making music, reading and writing, playing sports, and being in the outdoors. 


        <!-- /main -->
        </div>

		</div>

    <!-- content -->
	</div>

<!-- /content-out -->
</div>
		


<!-- footer -->
<footer>

	<p class="footer-left">
		&copy; 2013 Copyright Info &nbsp; &nbsp; &nbsp;
		Design by <a href="http://www.styleshout.com/">styleshout</a>
	</p>

	<p class="footer-right">
	   	<a href="/">Home</a> |
        <a href="#top" class="back-to-top">Back to Top</a>
    </p>

<!-- /footer -->
</footer>

</div>

</body>
</html>
